.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .container {
    min-width: 450px;

    .field {
      margin-bottom: 16px;
    }

    .actions {
      display: flex;
      align-items: center;
    }
  }
}
